

#banner {
    margin-top: 100px;
    max-width: 1440px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    color: #2C444F;
}

#logo > img {
    margin: 12px;
    height: 50px;
}

.company {
    font-family: 'Racing Sans One';
    color: #FC0606;
    font-size: 2em;
    text-shadow: 2px 2px black;
}

.darkhead {
    font-family: 'Racing Sans One';
    font-size: 1.5em;
    color: #001926;
    text-shadow: 0 0 black;
}


#sidebar h1 {
    font-family: 'Racing Sans One', cursive;
    font-size: 2.5em;
    color: #FCE903;
    text-shadow: 2px 2px black;
}
.lead {
    font-size: 1.8em;
    color: #2C444F;
}

#login {
    margin: 12px;
}

#login a {
    font-family: Arial;
    font-size: 2em;
    text-transform: uppercase;
    padding: 0 10px;

    
}

.navbar-header {
    width: 100%;
}

#login span {
    display: inline-block;
    padding: 12px 0 8px 4px;
}

#menu {
    background-color: #001926;
}

.navbar-header img {
    margin-top: 8px;
    margin-bottom: 8px;
}

#login img {
    width: 30px;
    height: 30px;
    margin-right: 6px;
    margin-top: -2px;
    display: inline-block;
}

.members h1 {
    color: white;
    display: inline-block;
}

#shield img {
    width: 350px;
   
}


.form-group {
    font-size: 1.2em;
    color: #2C444F;
}

table {
    color: #2C444F;
}

#submit {
    margin-left: 120px;
    margin-top: 26px;
    margin-bottom: 14px;
    font-style: bold;
}

.navbar {
    border-bottom-style: none;
}

.glyphicon-chevron-down {
    margin-left: 4px;
}